<segment header="ตารางการคำนวณภาษีที่ต้องชำระเพิ่ม">
  <form form [formGroup]="formSearch">
    <div inline>
      <div field [col]="3">
        <label class="text-right full-width">รอบระยะเวลาการตรวจสอบ :</label>
      </div>

      <ng-container *ngIf="flagHeader">
        <div field [col]="2" [ngClass]="{'error': invalidSearchFormControl('startDate')}">
          <div class="ui calendar full-width" id="date1">
            <div class="ui input left icon">
              <i class="calendar alternate outline icon"></i>
              <input type="text" placeholder="ดด/ปปปป" autocomplete="off" id="inputDate1" readonly="">
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!flagHeader">
        <div field [col]="2">
          <input type="text" class="custom-readonly" formControlName="startDate" readonly>
        </div>
      </ng-container>

      <div field [col]="1">
        <label class="text-center full-width">ถึง :</label>
      </div>

      <ng-container *ngIf="flagHeader">
        <div field [col]="2" [ngClass]="{'error': invalidSearchFormControl('endDate')}">
          <div class="ui calendar full-width" id="date2">
            <div class="ui input left icon">
              <i class="calendar alternate outline icon"></i>
              <input type="text" placeholder="ดด/ปปปป" autocomplete="off" id="inputDate2" readonly="">
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!flagHeader">
        <div field [col]="2">
          <input type="text" class="custom-readonly " formControlName="endDate" readonly>
        </div>
      </ng-container>

      <div field [col]="4">
        <label class="text-right full-width">เลขกระดาษทำการ :</label>
      </div>

      <ng-container *ngIf="flagHeader">
        <div field [col]="4">
          <select class="ui dropdown full-width" (change)="onChangePaperSvNumber($event)"
            formControlName="paperSvNumber" id="paperSvNumber">
            <option value="">เลือกเอกสาร</option>
            <option *ngFor="let item of svNumberList let i =index" value="{{item}}">
              {{item}}</option>
          </select>
        </div>
      </ng-container>

      <ng-container *ngIf="!flagHeader">
        <div field [col]="4">
          <input type="text" class="custom-readonly" formControlName="paperSvNumber" readonly>
        </div>
      </ng-container>

    </div>

    <div class="inline field btn text-center">
      <app-button-search (click)="onSerach()" [disabled]="!showBtSave || !flagHeader"></app-button-search>
      <app-button-save (click)="onSave()" [disabled]="showBtSave"></app-button-save>
      <app-button-custom color="orange" text="อัปโหลด Template" (click)="uploadTemplate()"></app-button-custom>
      <app-button-export (click)="exportFile()" [disabled]="showTable"></app-button-export>
      <app-button-clear (click)="onClear()"></app-button-clear>
      <app-button-back (click)="onBackPages()"></app-button-back>
    </div>

  </form>
</segment>
<segment header="อัพโหลด Template ข้อมูลสำหรับบันทึกผลการตรวจสอบด้านปริมาณ" [loading]="loading" [hidden]="showUpload">
  <form class="ui form ng-untouched ng-pristine ng-valid" id="upload-form" ngnativevalidate>
    <div class="inline fields  ui grid">
      <div class="three wide field">
        <label class="text-right full-width">เลือกไฟล์ Template ข้อมูล</label>
      </div>
      <div class="four wide field">
        <input id="file" type="file" name="file"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onChangeUpload($event)"
          required>
      </div>
      <div class="four wide field">
        <app-button-upload (click)="onUpload($event)"></app-button-upload>
        <app-button-custom color="" text="ปิด" (click)="onClear()"></app-button-custom>
      </div>
    </div>
  </form>
</segment>
<segment [loading]="loading" [hidden]="showTable">
  <table class="ui small celled table nowrap striped selectable" style="width: 100%" id="dataTable">
    <thead class="text-center">
      <tr>
        <th rowspan="2" style="text-align: center !important">ลำดับ</th>
        <th rowspan="2" style="text-align: center !important">รายการ</th>
        <th rowspan="2" style="text-align: center !important">ปริมาณ</th>
        <th rowspan="2" style="text-align:  center !important">ราคาขายปลีก</th>
        <th rowspan="2" style="text-align: center !important">มูลค่า</th>
        <th colspan="2" style="text-align: center !important">อัตราภาษี</th>
        <th rowspan="2" style="text-align: center !important">ภาษีที่ต้องชำระเพิ่มเติม</th>
        <th rowspan="2" style="text-align: center !important">เบี้ยปรับ</th>
        <th rowspan="2" style="text-align: center !important">เงินเพิ่ม</th>
        <th rowspan="2" style="text-align: center !important">ภาษีเพื่อราชการส่วนท้องถิ่น</th>
        <th rowspan="2" style="text-align: center !important">รวม</th>
      </tr>
      <tr style="text-align: center">
        <th>ตามมูลค่า</th>
        <th>ตามปริมาณ</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</segment>

<!-- form-excel -->
<form id="form-excel" method="POST">
  <input type="hidden" name="auditPlanCode" id="auditPlanCode">
  <input type="hidden" name="paperSvNumber" id="paperSvNumber">
  <input type="hidden" name="newRegId" id="newRegId">
  <input type="hidden" name="dutyGroupId" id="dutyGroupId">
  <input type="hidden" name="startDate" id="startDate">
  <input type="hidden" name="endDate" id="endDate">
</form>