<br>
<form class="ui form" id="form" [formGroup]="formControl" (submit)="save($event)">
  <segment header="บันทึกคำขอเบิกเงินสวัสดิการเกี่ยวกับการศึกษาบุตร (แบบ 7223)" [loading]="false">
    <br>
    <ng-container *ngIf="page==0">
      <!-- row 1 -->
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field required">
          <label class="full-width text-right">ข้าพเจ้า</label>
        </div>
        <div class="four wide field" [ngClass]="{ 'error': submitted && f.name.invalid }">
          <input type="text" formControlName="name" name="name" id="name" value="นางสาวปริษา  ยังมีสุข ">
        </div>
        <div class="one wide field required">
          <label class="full-width text-center">ตำแหน่ง</label>
        </div>
        <div class="four wide field" [ngClass]="{ 'error': submitted && f.pition.invalid }">
          <input type="text" formControlName="pition" name="pition" id="pition"
            value="นักวิชาการตรวจสอบภายในชำนาญการพิเศษ">
        </div>
        <div class="one wide field required">
          <label class="full-width text-center">สังกัด</label>
        </div>
        <div class="three wide field" [ngClass]="{ 'error': submitted && f.belong.invalid }">
          <input type="text" formControlName="belong" name="belong" id="belong" value="กลุ่มตรวจสอบภายใน">
        </div>
      </div>
      <!-- row 2 -->
      <div class="inline fields ">
        <div class="two wide field">
          <label class="full-width text-right">คู่สมรสของข้าพเจ้าชื่อ</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="mate" name="mate" id="mate">
        </div>
        <div class="one wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="pitionMate" name="pitionMate" id="pitionMate">
        </div>
        <div class="one wide field">
          <label class="full-width text-center">สังกัด</label>
        </div>
        <div class="three wide field">
          <input type="text" formControlName="belongMate" name="belongMate" id="belongMate">
        </div>
      </div>

      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="ten wide field">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="mateDescription" name="mateDescription" value="1"
                  checked="checked">
                <label>ไม่เป็นข้าราชการประจำหรือลูกจ้างประจำ</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="mateDescription" name="mateDescription" value="2">
                <label>เป็นข้าราชการ</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="mateDescription" name="mateDescription" value="3">
                <label>ลูกจ้างประจำ</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="mateDescription" name="mateDescription" value="4">
                <label>เป็นพนักงานหรือลูกจ้างใน รัฐวิสาหกิจ/หน่วยงานของทางราชการ ราชการส่วนท้องถิ่น กรุงเทพมหานคร
                  องค์กรอิสระ
                </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="mateDescription" name="mateDescription" value="5">
                <label>องค์การมหาชน หรือหน่วยงานอื่นใด</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="inline fields ">
        <div class="four wide field">
          <label class="full-width text-right">ข้าพเจ้าเป็นผู้มีสิทธิและขอใช้สิทธิเนื่องจาก</label>
        </div>
        <div class="three wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="status" name="status" checked="" value="1">
            <label>เป็นบิดาขอบด้วยกฎหมาย</label>
          </div>
        </div>
        <div class="two wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="status" name="status" value="2">
            <label>เป็นมารดา</label>
          </div>
        </div>
      </div>
      <div class="sixteen wide field">
        <h4 class="ui horizontal divider header">
          -
        </h4>
      </div>
      <div class="inline fields ">
        <div class="sixteen wide field">
          <label>ข้าพเจ้าขอรับเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร ดังนี้</label>
          <app-button-custom color="green" icon="plus icon" (click)="addIndex()" *ngIf="items.length < 3">
          </app-button-custom>
        </div>
      </div>
      <!-- form array -->
      <div formArrayName="items" *ngFor="let item of items.controls; let i = index;">
        <div [formGroupName]="i">
          <div class="inline fields ">
            <div class="one wide field">
              <label class="full-width text-right">{{i+1}})</label>
            </div>
            <div class="one wide field required">
              <label class="full-width text-right">บุตรชื่อ</label>
            </div>
            <div class="three wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'name')}">
              <input type="text" formControlName="name">
            </div>
            <div class="one wide field">
              <label class="full-width text-right"> เกิดเมื่อ </label>
            </div>
            <div class="two wide field">
              <div class="ui calendar full-width birth">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="text" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
                    [attr.required]="true" formControlName="birth">
                </div>
              </div>
              <!-- <input type="text" formControlName="birth" name="birth" id="birth"> -->
            </div>
            <div class="two wide field required">
              <label class="full-width text-right"> เป็นบุตรลำดับที่ (ของบิดา) </label>
            </div>
            <div class="one wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'orderFather') }">
              <input type="number" formControlName="orderFather">
            </div>
            <div class="two wide field required" style="padding-right: 0px;">
              <label class="full-width text-right"> เป็นบุตรลำดับที่ (ของมารดา) </label>
            </div>
            <div class="one wide field" style="margin-left: 15px;"
              [ngClass]="{ 'error': submitted && formArrayValid(i, 'orderMather') }">
              <input type="number" formControlName="orderMather">
            </div>
          </div>
          <div class="inline fields ">
            <div class="six wide field">
              <label class="full-width text-right">(กรณีเป็นบุตรแทนที่บุตรซึ่งถึงแก่กรรมแล้ว) แทนที่บุตรลำดับที่
              </label>
            </div>
            <div class="two wide field">
              <input type="number" formControlName="orderReplace">
            </div>
          </div>
          <div class="inline fields ">
            <div class="two wide field">
              <label class="full-width text-right">ชื่อ</label>
            </div>
            <div class="three wide field">
              <input type="text" formControlName="nameReplace">
            </div>
            <div class="one wide field">
              <label class="full-width text-right">เกิดเมื่อ</label>
            </div>
            <div class="two wide field">
              <div class="ui calendar full-width birthReplace">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="text" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
                    [attr.required]="true" formControlName="birthReplace">
                </div>
              </div>
            </div>
            <div class="two wide field">
              <label class="full-width text-right">ถึงแก่กรรมเมื่อ</label>
            </div>
            <div class="two wide field">
              <div class="ui calendar full-width dateDeadReplace">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="text" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
                    [attr.required]="true" formControlName="dateDeadReplace">
                </div>
              </div>
            </div>
          </div>
          <div class="inline fields ">
            <div class="two wide field required">
              <label class="full-width text-right">สถานศึกษา</label>
            </div>
            <div class="three wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'education')}">
              <input type="text" formControlName="education">
            </div>
            <div class="one wide field required">
              <label class="full-width text-right">อำเภอ</label>
            </div>
            <div class="three wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'educationDistrict')}">
              <input type="text" formControlName="educationDistrict">
            </div>
            <div class="one wide field required">
              <label class="full-width text-right">จังหวัด</label>
            </div>
            <div class="three wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'educationProvince')}">
              <input type="text" formControlName="educationProvince">
            </div>
          </div>
          <div class="inline fields ">
            <div class="one wide field"></div>
            <div class="one wide field required">
              <label class="full-width text-right">ชั้นที่ศึกษา</label>
            </div>
            <div class="three wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'educationClass')}">
              <input type="text" formControlName="educationClass">
            </div>
            <div class="two wide field" style="padding-right: 0px;">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="type" value="เงินบำรุงการศึกษา">
                <label>(1) เงินบำรุงการศึกษา</label>
              </div>
            </div>
            <div class="two wide field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="type" value="เงินค่าเล่าเรียน">
                <label>(2) เงินค่าเล่าเรียน</label>
              </div>
            </div>
            <div class="one wide field required">
              <label class="full-width text-right">จำนวน</label>
            </div>
            <div class="three wide field" [ngClass]="{ 'error': submitted && formArrayValid(i, 'amount') }">
              <input type="number" formControlName="amount">
            </div>
            <div class="one wide field">
              <label class="full-width text-center">บาท</label>
            </div>
            <div class="one wide field">
              <app-button-custom color="red" icon="minus icon" (click)="removeIndex(i)" *ngIf="items.length > 1">
              </app-button-custom>
            </div>
          </div>
          <br>
        </div>
        <!-- Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }} -->
      </div>
      <!-- end form array -->
    </ng-container>

    <ng-container *ngIf="page==1">

      <div class="inline fields ">
        <div class="five wide field">
          <label class="full-width text-right">ข้าพเจ้าขอรับเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร</label>
        </div>
        <div class="two wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="typeRecive" name="typeRecive" value="1" checked="">
            <label>ตามสิทธิ</label>
          </div>
        </div>
        <div class="three wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="typeRecive" name="typeRecive" value="2">
            <label>เฉพาะส่วนที่ยังขาดจากสิทธิ เป็นเงิน</label>
          </div>
        </div>
        <div class="three wide field" [ngClass]="{ 'error': submitted && f.typeReciveAmount.invalid }">
          <input type="text" formControlName="typeReciveAmount" name="typeReciveAmount" id="typeReciveAmount">
        </div>
        <div class="one wide field">
          <label class="full-width text-center">บาท</label>
        </div>
      </div>

      <!-- row 7  -->
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field required">
          <label>เสนอ</label>
        </div>
        <div class="four wide field" [ngClass]="{ 'error': submitted && f.offer.invalid }">
          <input type="text" formControlName="offer" name="offer" id="offer">
        </div>
      </div>
      <br>
      <!-- radio -->
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="ten wide field">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="offerType" name="offerType" value="1" checked="">
                <label>ข้าพเจ้ามีสิทธิได้รับเงินช่วยเหลือตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตรและข้อความที่ระบุข้างต้นเป็นความจริง</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="offerType" name="offerType" value="2">
                <label>บุตรของข้าพเจ้าอยู่ในข่ายได้รับการช่วยเหลือตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="offerType" name="offerType" value="3">
                <label>เป็นผู้ใช้สิทธิเบิกเงินช่วยเหลือตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร
                  แต่เพียงฝ่ายเดียว
                </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" formControlName="offerType" name="offerType" value="4">
                <label>คู่สมรสของข้าพเจ้าได้รับการช่วยเหลือจากรัฐวิสาหกิจ หน่วยงานของทางราชการ
                  ราชการท้องถิ่นกรุงเทพมหานครองค์กรอิสระ
                  <br> องค์การมหาชน หรือหน่วยงานอื่นใด ต่า กว่าจำนวนที่ได้รับจากทางราชการ</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- radio -->
      <br>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field required">
          <label>จำนวน</label>
        </div>
        <div class="four wide field" [ngClass]="{ 'error': submitted && f.sumAmount.invalid }">
          <input type="text" formControlName="sumAmount" name="sumAmount" id="sumAmount">
        </div>
        <div class="one wide field">
          <label class="full-width text-center">บาท</label>
        </div>
      </div>
    </ng-container>

    <div class="sixteen wide field" (click)="page=1" *ngIf="page==0">
      <label class="full-width text-center" style="cursor: pointer"><a>หน้าถัดไป >></a></label>
    </div>
    <div class="sixteen wide field" (click)="page=0" *ngIf="page==1">
      <label class="full-width text-center" style="cursor: pointer"><a>
          << หน้าก่อนหน้า</a> </label> </div> </segment> <div class="ui form">
            <segment header="เอกสารหลักฐานประกอบคำเบิก" [loading]="false">
              <div class="inline fields ">
                <div class="five wide field"></div>
                <div class="ten wide field">
                  <label style="color:red">*รับรองไฟล์นามสกุล &nbsp;&nbsp;เอกสาร xls, xlsx, doc, docx, ppt, pptx
                    &nbsp;&nbsp;รูป
                    gif, jpeg, jpg, png, bmp
                    &nbsp;&nbsp;ขนาดไม่เกิน 25 MB</label>
                </div>
              </div>
              <div class="inline fields ">
                <div class="two wide field"></div>
                <div class="three wide field">
                  <label class="full-width text-right">หลักฐานประกอบคำเบิก</label>
                </div>
                <div class="six wide field upload-panel">
                  <input type="file" name="files" id="files" accept=".pdf, image/*, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                    application/vnd.ms-excel,.doc,.docx" (change)="onChangeFile()">
                </div>
                <div class="three wide field">
                  <button class="ui mini yellow button" type="button" (click)="onUpload($event)"
                    [ngClass]="{ 'disabled': flgOnLoad }">
                    <i class="upload icon"></i>อัพโหลด</button>
                </div>
              </div>
              <table id="dataTable" class="ui small celled table striped selectable" style="width: 100%;">
                <thead>
                  <tr style="text-align: center">
                    <th>ลำดับที่</th>
                    <th>วันที่</th>
                    <th>ชื่อเอกสาร</th>
                    <!-- <th>ขนาด (MB)</th> -->
                    <th>จัดการ</th>
                  </tr>
                  <tr *ngIf="tableUpload.length < 1">
                    <td colspan="5" class="text-center">ไม่มีข้อมูล</td>
                  </tr>
                  <tr *ngFor="let ul of tableUpload; let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{ul.date}}</td>
                    <td class="text-center">{{ul.name}}</td>
                    <!-- <td class="text-right">{{ul.size}}</td> -->
                    <td class="text-center">
                      <button class="ui mini red button" type="button" (click)="onDel(i)">
                        <i class="trash icon"></i>ลบ</button>
                    </td>
                  </tr>
                </thead>
              </table>
              <div class="ui center aligned grid">
                <div class="sixteen wide column">
                  <!-- [ngClass]="{ 'disabled': tableUpload.length < 1 }" -->
                  <button class="ui primary mini button" type="submit">
                    <i class="save icon"></i>บันทึก</button>
                  <!-- <button class="ui yellow button" type="button">
                <i class="print icon"></i>ส่งออก</button> -->
                  <button class="ui mini button" type="button" routerLink='/int12/07/01'>
                    <i class="close icon"></i>ยกเลิก</button>
                </div>
              </div>
            </segment>
    </div>
</form>