<br>
<div class="ui form grid">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
        <div class="inline fields">
            <div class="two wide field"></div>
            <div class="one wide field">
                <i class="small circular inverted yellow sticky note icon" style="font-size: 1em;"></i>
            </div>
            <div class="five wide field">
                <label class="text-left full-width">หนังสือแจ้งผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๙)</label>
            </div>
            <div class="four wide field">
                <app-button-detail></app-button-detail>
                <!-- <div class="ui label" *ngIf="auditStepList[0].formTsNumber != ''">{{auditStepList[0].formTsNumber}}
                                    </div> -->
            </div>
        </div>
        <br>
    </div>
</div>