.bg-th-left {
    background-color: #FFFF99 !important;
}

.bg-th-right {
    background-color: #00ffad !important;
}

.bg-blank{
    background-color: #ffff !important;
}

th {
	position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 1;
}